<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.origami.mdrecord">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity android:name=".patientfile.MedicalAbstractFormHistoryActivity">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".patientfile.ViewPatientFileActivity"/>
        </activity>
        <activity android:name=".patientfile.ExpandedMedicalAbstractFormActivity">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".patientfile.MedicalAbstractFormHistoryActivity"/>
        </activity>
        <activity android:name=".patientfile.CreateMedicalAbstractFormActivity">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".patientfile.MedicalAbstractFormHistoryActivity"/>
        </activity>
        <activity android:name=".patientfile.ExpandedMedicalCertificateActivity">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".patientfile.MedicalCertificateHistoryActivity"/>
        </activity>
        <activity android:name=".patientfile.CreateMedicalCertificateActivity">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".patientfile.MedicalCertificateHistoryActivity"/>
        </activity>
        <activity android:name=".patientfile.MedicalCertificateHistoryActivity">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".patientfile.ViewPatientFileActivity"/>
        </activity>
        <activity
                android:name=".SplashScreenActivity"
                android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".ViewUserProfileActivity">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".ChoosePatientActivity"/>
        </activity>
        <activity android:name=".EditUserActivity">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".ViewUserProfileActivity"/>
        </activity>
        <activity android:name=".patientfile.EditPatientMedicationActivity">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".patientfile.ViewPatientFileActivity"/>
        </activity>
        <activity android:name=".patientfile.AddPatientMedicationActivity">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".patientfile.ViewPatientFileActivity"/>
        </activity>
        <activity android:name=".patientfile.EditPatientActivity">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".patientfile.ExpandedPatientInfoActivity"/>
        </activity>
        <activity android:name=".patientfile.ExpandedPatientInfoActivity">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".patientfile.ViewPatientFileActivity"/>
        </activity>
        <activity android:name=".patientfile.AddNoteActivity">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".patientfile.ViewPatientFileActivity"/>
        </activity>
        <activity android:name=".patientfile.AddLabResultActivity">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".patientfile.ViewPatientFileActivity"/>
        </activity>
        <activity android:name=".patientfile.AddMedicalAssessmentActivity">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".patientfile.ViewPatientFileActivity"/>
        </activity>
        <activity
                android:name=".patientfile.ViewPatientFileActivity"
                android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".ChoosePatientActivity"/>
        </activity>
        <activity
                android:name=".CreatePatientActivity"
                android:windowSoftInputMode="adjustPan">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".ChoosePatientActivity"/>
        </activity>
        <activity android:name=".ChoosePatientActivity">
        </activity>
        <activity
                android:name=".registerlogin.RegisterActivity"
                android:windowSoftInputMode="adjustPan">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".registerlogin.LoginActivity"/>
        </activity>
        <activity
                android:name=".registerlogin.LoginActivity"
                android:windowSoftInputMode="adjustPan">
        </activity>
    </application>

</manifest>